
@ma-native/*

!@ma-native/src
@ma-native/src/*
!@ma-native/src/@ionic-native
@ma-native/src/@ionic-native/*
!@ma-native/src/@ionic-native/plugins
@ma-native/src/@ionic-native/plugins/*
!@ma-native/src/@ionic-native/plugins/ma-app-update

!@ma-native/dist
@ma-native/dist/*
!@ma-native/dist/@ionic-native
@ma-native/dist/@ionic-native/*
!@ma-native/dist/@ionic-native/plugins
@ma-native/dist/@ionic-native/plugins/*
!@ma-native/dist/@ionic-native/plugins/ma-app-update