<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-ma-app-update" version="0.0.1">
    <name>MaAppUpdate</name>

    <description>Enable Forced App Updates.</description>
    <license>MIT</license>

    <keywords>cordova,android,AppUpdate</keywords>
    <repo>https://github.com/ma-dev-global/ma-cordova-app-update</repo>
    <issue>https://github.com/ma-dev-global/ma-cordova-app-update/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/MaAppUpdate.js" name="maAppUpdate">
        <clobbers target="cordova.plugins.MaAppUpdate" />
    </js-module>
    <platform name="android">
        <framework src="com.google.android.play:core:1.6.4"/>
		<config-file target="res/xml/config.xml" parent="/*">
            <feature name="MaAppUpdate">
                <param name="android-package" value="com.manageamerica.cordova.plugin.maappupdate.MaAppUpdate"/>
            </feature>
        </config-file>

        <source-file src="src/android/MaAppUpdate.java" target-dir="src/com/manageamerica/cordova/plugin/maappupdate" />
    </platform>
</plugin>